#homeSlideshow{
    height: 100%;
}

.slide-image{
    height: 100vh;
    max-height: 600px;
    background-size: cover;
}

.page-header{
    margin-top: 60px;
    max-height: 600px;
}

.product-tabs{
    margin-top: 30px;
}

.card-header-primary .nav-tabs>.nav-item>.nav-link.active{
    background-color: #f96332;
    border-color: #f96332;
    color: #fff;
}

.breadcrumb{
    width: auto;
    display: inline-block;
    background: transparent;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: #fff;
}

.breadcrumb-item.active{
    color: #fff;
}

.navbar .navbar-nav .nav-link:not(.btn){
    font-size: 1em;
}

.navbar .navbar-nav .nav-link.icons:not(.btn) i.fa{
    font-size: 2em;
    width: auto;
    top: 0;
}
.navbar .navbar-nav .nav-link.icons{
    padding: 0.3rem 0.5rem;
}

.icon-badge{
    position: relative;
    text-align:center;
    vertical-align:middle;
}
.icon-badge:after{
    content:attr(data-count);
    background-color: #333;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    min-width: 22px;
    position: absolute;
    right: -8px;
    text-align: center;
    text-shadow: none;
    top: -5px;
    color: #FFFFFF;
    padding: 1px 5px;
}